*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

background:#F8FAFC;

}



.card{

background:white;

border-radius:16px;

padding:24px;

box-shadow:
0 5px 20px rgba(0,0,0,0.05);

}



.btn-primary{

background:#3B82F6;

color:white;

padding:10px 20px;

border-radius:10px;

}



.btn-success{

background:#10B981;

color:white;

padding:10px 20px;

border-radius:10px;

}



.table-box{

background:white;

border-radius:16px;

padding:20px;

box-shadow:
0 5px 20px rgba(0,0,0,0.05);

}